---
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
  return [
    {params: {news: 'clifford'}},
    {params: {news: 'rover'}},
    {params: {news: 'spot'}},
  ];
}
const { news } = Astro.params;
let contain;

switch (news) {
  case 'clifford':
    contain = {
      titulo : "El gran perro rojo",
      description : "Clifford es un gran perro rojo bien basado alv",
      img : "https://www.google.com/url?sa=i&url=https%3A%2F%2Ftienda-onepiece.com%2Fproducts%2Ffigura-nami-h%2F&psig=AOvVaw020rB7xI2xopYcS5eWsDWC&ust=1733454028227000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNiuqtLRj4oDFQAAAAAdAAAAABAE" ,
    }
    break;
  case 'rover':
    contain = {
      titulo : "Adopta a una perra mas grande que pitty",
      description : "Pitty es una perra y necesita compañia 🥵",
      img : "/src/img/perro.avif" ,
    }
    break;
  case 'spot':
    contain = {
      titulo : "La cuchara de tu mamá",
      description : "mete Siempre la cucharada esa mama tuya parece camara we ",
      img : "https://www.google.com/url?sa=i&url=https%3A%2F%2Felpereirano.com%2F2024%2F03%2F08%2Fpereira-invierte-10-mil-millones-en-camara-de-seguridad-para-la-ciudad%2F&psig=AOvVaw3quJIOsKmetaM-RdXwGCzK&ust=1733455206349000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKiYu4rWj4oDFQAAAAAdAAAAABAE" ,
    }
    break;

}

---
<Layout>
    <section class="grid justify-items-center p-4 gap-3">
      <h1 class="text-2xl font-serif w-max">{contain.titulo}</h1>
      <span>{contain.description}</span>
      <img class="w-[600px] h-auto" src={contain.img} alt="">      
    </section>
</Layout>