---
import Layout from "../../layouts/Layout.astro";

---
<Layout>
    <section class="grid p-7 gap-3 justify-items-center">
        Estas son las noticias
        <a class="border border-black w-min p-2" href="/noticias/rover">Rover</a>
        <a class="border border-black w-min p-2" href="/noticias/clifford">Clifford</a>
        <a class="border border-black w-min p-2" href="/noticias/spot">Spot</a>
    </section>
</Layout>