---
import Layout from '../layouts/Layout.astro';
import Tarjet from '../components/Tarjet.astro';
const Currenthpath = Astro.url.pathname;
let tittle;
if (Currenthpath == '/worldpress') {
    tittle = "WorldPress Sites"
}

---

<Layout>
	<Tarjet>
        <span slot="text" class="font-semibold text-xl mb-6">{tittle}</span>
    </Tarjet>
</Layout>