---

const { title = 'No name', msg = 'Hola mundo' } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="h-20 bg-orange-400"></header>
		<menu class="bg-blue-500 flex justify-center">
			<li>
				<a href="/" class="hover:bg-white/25 block px-2 ">
					Inicio
				</a>
			</li>
			<li>
				<a href="/quienes-somos" class="hover:bg-white/25 block px-2 ">
					Quienes somos
				</a>
			</li>
			<li>
				<a href="/organigrama" class="hover:bg-white/25 block px-2 ">
					Organigrama
				</a>
			</li>
			<li>
				<a href="/contacto" class="hover:bg-white/25 block px-2 ">
					Contacto
				</a>
			</li>
		</menu>
		<p>tu mensaje es:{msg}</p>
		
		<slot />
	</body>
</html>

<!-- fuera del html -->
<style is:global>  
@font-face {
  font-family: 'myfont';
  src: url('/fonts/Oswald-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

</style>
